.modal-title {
  color: #1B56AB;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 10px !important;
}

.MsgText {
  color: #2A2A2A;
  font-size: 12px !important;
  font-weight: 400 !important;
  padding-top: 10px;
}

.pb-2 .py-2 {
  padding-bottom: 0.5rem !important;
}

.btn-darkB {
  background: #1B56AB;
  color: #fff;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
  font-size: 13px;
  padding: 5px;
}
