<div class="container-fluid PageBody">
  <app-common-header headerPageTitle="{{ headerPageTitle }}"></app-common-header>
  <div class="row">
    <div class="col-8 MsgText">Select the assessment method to start the new assessment</div>
    <div class="col-4 text-right" style="margin-top:2px; margin-bottom:2px;">
      <a routerLink="/assesmentHistory">
        <button type="button" class="btn btn-main btn-lightB"><i class="fa fa-history"></i>Assessment History</button>
      </a>
    </div>
  </div>

  <div class="row" *ngFor="let user of resultData; let index = index">
    <div class="col">
      <div class="ListTile">
        <div class="row">
          <div class="col-1 text-center"><img src="{{user.logoUrl}}" (error)="handleMissingImage($event)" alt="user_image" loading="lazy"></div>
          <div class="col-6 m-0 p-0 TileHeading">
            <h4>{{user.name}}</h4>
            <h3>{{user.author}}</h3>
            <span>{{user.ageRange}}</span>
            <!-- <span>Assesses: {{user.university}} </span> -->
          </div>
          <div class="col-5 text-right" style="padding-top:10px;padding-bottom: 7px;">
            <!-- <a href="#" class="btn btn-icon" [routerLink]="['/NewAssesmentEmail']" [state]="{id:user.id, shortName:user.shortName, ModeOfAssessment:1}"><i class="fa fa-envelope-o"></i><br>Email</a>
            <a href="#" class="btn btn-icon" [routerLink]="['/NewAssesmentEmail']" [state]="{id:user.id, shortName:user.shortName, ModeOfAssessment:2}"><i class="fa fa-id-badge"></i><br>Local Admin</a> -->
            <a href="#" class="btn btn-icon" style="margin-right: 10px;" [routerLink]="['/NewAssesmentEmail']" [state]="{id:user.id, shortName:user.shortName, ModeOfAssessment:3}"><i class="fa fa-heart-o"></i><br>My Chart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ng-http-loader [backdrop]="true" [backgroundColor]="'#ff0000'" [debounceDelay]="100" [extraDuration]="300"
  [minDuration]="300" [backdropBackgroundColor]="'#777777'" [spinner]="spinkit.skWave">
</ng-http-loader> -->
<ng-http-loader spinner="sk-wave"></ng-http-loader>

