.modal-header {
  border-bottom: 0px solid #e9ecef !important;
}

.modal-footer {
  border-top: 0px solid #e9ecef !important;
}

h4,
.h4 {
  font-size: 15px !important;
}

.modal-body {
  font-size: 15px !important;
}

.form-inline label{
    justify-content: left !important;
    margin-bottom: 5px !important;
}

.custombg {
    background: #3f51b5;
    color: #fff;
}

.btn-main {

  font-size: 14px;
  min-width: 130px;
  padding-top: 8px;
  color: #fff;
  border: none;
  text-align: center !important;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-weight: normal !important;
  margin: 1px 5px 1px 5px;
  margin-bottom: 7px;
}

.btn-darkB {
  background: #1B56AB;
  color: #fff;
}
